<head>
    <style>
        tr, th, td {
            border: 1px solid black;
            }
        .tab{
            height:40%;
            width:100%;
            border: 1px solid black;
            }
    </style>
</head>

<body>
<h3>Таблица с результатами</h3>
Введенное диапазон: [0, <%= @number %>]
<table class = "tab">
    <tr>
    <th>Число</th>
    <th>Квадрат числа</th>
    </tr>
    <% @hash.each do |ar,sq|%>
    <tr>
        <td><%= ar %></td>
        <td><%= sq %></td>
    </tr>
    <% end%>
</table>
Количество таких чисел
<p id="counter"><%= @hash.size %></p>
<%= link_to "Вернуться назад", home_path %>
</body>
